/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700@display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.wrapper{
    background-color: #fff;
    max-width: 450px;
    border-radius: 1rem;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
/* SignUp Form Css Code */
.form {
    padding: 1.5rem 1.9rem;
}
.form header{
    padding-bottom: 1.2rem;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid #e6e6e6;
}

.form form{
    margin: 1.2rem 0;
}
.form form .error-txt{
    color: #721c24;
    background-color: #f8d7da;
    padding: .6rem .7rem;
    text-align: center;
    border-radius: .4rem;
    margin-bottom: .5rem;
    border: 1px solid #f5c6cb;
}
.form form .name-details{
    display: flex;
    gap: 1.2rem;
}

.form form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: .6rem;
}

.form form .field label{
    margin-bottom: 3px;
}

.form form .input input {
    height: 2.8rem;
    width: 100%;
    font-size: 1rem;
    padding: 0 .6rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    outline: none;
}
.form form .image input{
    font-size: 1.1rem;
}
.form form .button input{
    margin-top: .8rem;
    height: 2.7rem;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #333;
    color: #fff;
    border-radius: .4rem;
    cursor: pointer;
}
.form .link{
    text-align: center;
    margin: .7rem 0;
    font-size: 1.1rem;
}
.form .link a{
    color: #333;
}
.form .link a:hover{
    text-decoration: underline;
}
