.users {
  padding: 1.7rem 1.8rem;
}
.users header,
.users-list a {
  display: flex;
  align-items: center;
  padding-bottom: 1.7rem;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
:is(.users, .users-list) .content {
  display: flex;
}
.users header .content img {
  width: 3.2rem;
  height: 3.2rem;
}
:is(.users, .users-list) .details {
  margin-left: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: flex-start;
  color: #333;
}
:is(.users, .users-list) .details span {
  font-size: 1.2rem;
  font-weight: 500;
}

.logout {
  color: #fff;
  background-color: #333;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}
.users .search {
  margin: 1.4rem 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users .search .text {
  font-size: 1.2rem;
}
.users .search input {
  position: absolute;
  height: 3rem;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 0.7rem;
  font-size: 1rem;
  outline: none;
  border-radius: 0.4rem 0 0 0.4rem;
}
.users .search button {
  width: 47px;
  height: 3rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 0 0.4rem 0.4rem 0;
}
.users-list {
  max-height: 350px;
  overflow-y: auto;
}
.users-list::-webkit-scrollbar {
  width: 1px;
}
.users-list a {
  margin-bottom: 0.9rem;
  page-break-after: 10px;
  padding-right: 0.9rem;
  border-bottom-color: #f1f1f1;
}
.users-list a .content img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.users-list a .content p {
  color: #67676a;
}
.users-list a .status-dot {
  font-size: 0.8rem;
  color: #468669;
}
/* We'll use this class name in php to show offlie status */
.users-list a .status-dot.offline {
  color: #ccc;
}
